<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Show products</title>
	{% load static %}
</head>
<body>
	<center>
	<h1> Product</h1> 
	<hr>
	<form name="mylg" action="/showproduct/" method="POST">  
		{% csrf_token %}
		Product Id:<input type="text" name="productid">
		Select Category:<select name="cat" id="cat">
							<option value="null">Select Products</option>
							<option value="jacket">Jacket</option>
							<option value="trouser">Trouser</option>
							<option value="hoodie">Hoodie</option>
						</select>	
		<input type="submit">
		<hr>
	<table border="1">
		<tr>
			<th>Product Cat</th>
			<th>Product Id </th>
			<th>Product Name </th>
			<th>Product Prize </th>
			<th>Product Discription</th>
		</tr>
		{% for i in Product %}
		<tr>
			<td>{{i.product_cat}}</td>
			<td>{{i.product_id}}</td>
			<td>{{i.product_name}}</td>
			<td>{{i.product_prize}}</td>
			<td>{{i.product_discription}}</td>
		</tr>
		{% endfor %}
	</table>
</form>
</center>
</body>
</html>